*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Roboto', sans-serif;
    color: #808cce; 
    background: rgb(236,237,248);
    background: linear-gradient(180deg, rgba(236,237,248,1) 0%, rgba(253,253,254,1) 80%);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
}

/* left side */

section.left {
    padding: 100px;
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.wrap p:nth-child(1) {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

strong {
    color: #314ffe;
    font-weight: 400;
}

h1 {
    margin-top: 10px;
    font-size: 60px;
    font-weight: 400;
    color: #1a237e; 
}

div.wrap p:nth-of-type(2) {
    margin-top: 20px;
    line-height: 30px;
    font-size: 20px;
}

.btn-action {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffab02;
    border: 1px solid #ffab02;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: .2s;
}

.btn-action:hover {
    background-color: white;
    color: #ffab02;
}

/* right side */

section.right {
    min-width: 600px;
    padding: 100px;
    flex-basis: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.right, div.left {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}
div.left {
    margin-right: 30px;
    margin-bottom: 30px;
}

div.right {
    margin-top: 30px;
}

article {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    border: solid 1px #e0e0e0;
}

i.fa-city {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #bbdefb;
    text-align: center;
    border-radius: 4px;
    color: #1e88e5;
    font-size: 18px;
}

div.left article:nth-child(2) i.fa-city {
    background-color: #fff9c4;
    color: #f9a825;
}

div.right article:nth-child(1) i.fa-city {
    background-color: #c8e6c9;
    color: #43a048;
}

div.right article:nth-child(2) i.fa-city {
    background-color: #e1bee7;
    color: #8d25ab;
}

h2 {
    margin-top: 20px;
    color: #1a237e; 
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

article p {
    margin-top: 20px;
    line-height: 22px;
}

/* shapes */

.shape {
    position: fixed;
    z-index: -1;
}

.shape.big {
    border-radius: 100% 0 0 0;
    background: rgb(233,234,247);
    background: linear-gradient(180deg, rgba(233,234,247,1) 0%, rgba(253,253,254,1) 100%);
    z-index: -1;
    bottom: -15px;
    left: -20px;
    width: 690px;
    height: 600px;
}

.shape.triangle.mid {
    top: 0px;
    right: 0px;
    border-right: 490px solid rgba(233,234,247, 0.8);
    border-top: 380px solid transparent;
    border-bottom: 380px solid transparent;
	margin: 30px auto 0;
    transform: translate(25%, -50%) rotate(130deg);
}

.shape.triangle.small{
    width: 0;
	height: 0;
	border-top: 180px solid transparent;
	border-bottom: 180px solid transparent;
	border-right: 190px solid rgba(233,234,247, 0.6);
	margin: 30px auto 0;
    top: 50%;
    right: 280px;
    transform: translate(0%, -60%) rotate(135deg); 
}

